#RAI_PATH = "/home/tim/git/robotics-course/build"
#MRCNN_PATH = "/home/tim/workspace/Mask_RCNN"

#MESH_PKG="rai_baxter"
#MESH_DIR="scenarios/meshes/"


#POINT_MODELS_PATH = "./data/models/model_points.pkl"
#NUMBER_OF_POINTS = 1000
